<form action='/user' method='post'>
    <input type='text' name='name' placeholder='Your Username'/> <br>
    <input type='text' name='mail' placeholder='Your Mail ID'/> <br>

    <input type='submit' value='submit' />

</form>